* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Подключение шрифтов "TT Lakes" */

@font-face {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TT Lakes"),
        /* Если не получилось, загрузит woff */
        url("/fonts/TTLakes-Medium.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
        url("/fonts/TTLakes-Medium.ttf") format("ttf");
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TT Lakes"),
        /* Если не получилось, загрузит woff */
        url("/fonts/TTLakes-Regular.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
        url("/fonts/TTLakes-Regular.ttf") format("ttf");
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TT Lakes"),
        /* Если не получилось, загрузит woff */
        url("/fonts/TTLakes-Bold.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
        url("/fonts/TTLakes-Bold.ttf") format("ttf");
}



body {
    background-color: #F8F8F8;
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: normal;
    min-width: 320px;
}


/* Блок с навигационными линками */

.navigation-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 88px;
    width: auto;
    padding: 0 16px
}

.navigation-header {
    background-color: #FFFFFF
}

.left-buttons__logo {
    padding: 0 16.73px
}

.middle-buttons-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-buttons-block {
    display: flex;
}

.right-buttons__profile-button {
    margin-right: 16px;
}

.right-buttons__chat-button {
    margin: 0 16px;
}

.right-buttons__checkstatus-button{
    margin-left: 16px;
}

.divider-container {
    font-size: 36px;
    padding-right: 20px;
    flex: 1 1 auto;
}

.hidden {
    display: none;
}

/* Котент часть */
.wrapper {
    background-color: #F8F8F8;
    padding-top: 24px;
    min-height: 509px;
    overflow: hidden;
}

    /* Верхняя чать контента */
.apper-side {
    padding-left: 16px;
}

.title-block__hidden-links{
    display: none;
}

.title-block h1 {
    display: flex;
    align-items: center;
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    width: auto;
}

.title-block h1::before {
    content: '';
    background-color: #41F6D7;
    display: flex;
    position: absolute;
    left: 0;
    width: 4px;
    height: 40px;
    border-radius: 0 12px 12px 0 / 0 10px 10px 0;
}

.links-block__list{
    padding-top: 24px;
    list-style: none;
    display: flex;
    overflow: scroll;
}

.links-block__label:hover {
    border-radius: 6px;
    background-color: #FFFFFF;
}

.links-block__selector {
    display: none;
}

.links-block__selector:checked ~ .links-block__label{
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    
}

.links-block__label {
    height: 40px;
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    color: #7E7E82;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1em;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    cursor: pointer;
    
}

    /* Нижняя часть контента */

.bottom-side {
    padding-top: 24px;
    min-height: 322px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content__read-more-chkbox {
    opacity: 0;
    position: absolute;
}

.content__paragraph{
    padding: 0 16px;
    max-height: 90px;
    overflow: hidden;
    position: relative;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    color: #1B1C21;
}

.content__read-more-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 16px 16px;
    padding: 0 4px 0 0;
    display: inline-flex;
    align-items: center;
}

.content__arrows {
    padding-right: 8px;
}

/* Сворачивание - разворачивание лишнего текста */
.content__read-more-chkbox:checked ~ .content__paragraph {
    max-height: none;
}

.content__read-more-chkbox ~ .content__read-more-btn:after {
    content: "Читать далее";
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
}

.content__read-more-chkbox:checked ~ .content__read-more-btn:after {
    content: "Скрыть текст";
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1B1C21;
}

.content__logo-board {
    padding-top: 16px;
    min-height: 172px;
    width: 100%;
}


/* Код для разрешения 768px */
@media only screen and (min-width: 768px){
    /* Хэдер - навигация */
    .hidden {
        display: flex;
    }
    .left-buttons__logo {
        padding: 0;
    }
    .navigation-block {
        justify-content: space-around;
        align-items: center;
    }
    .middle-buttons-block {
        flex: auto;
    }
    .divider-container{
        font-size: 36px;
        padding: 0 20px;
        flex: 0 auto;
    }

    /* Мэйн враппер */
    .apper-side {
        padding-left: 24px;
    }
    .links-block__list {
        padding: 32px 0;
    }
    .bottom-side {
        padding-top: 32px;
    }
    .content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
    .content__article {
        width: 40.625%;
    }
    .content__read-more-btn {
        margin-top: 10px;
    }
    .content__media-element {
        width: 46.875%;
        
    }
    .content__logo-board {
        padding: 0;
        border-radius: 6px;
        /* min-height: 172px; */
        /* width: 100%; */
    }
    .content__paragraph {
        max-height: 160px;
        padding: 0;
        overflow: hidden;
        position: relative;
        line-height: 20px;
        font-family: 'TT Lakes';
        font-weight: 500;
        font-style: normal;
        font-size: 14px; 
    }

}

/*Код для разрешения экрана 1120px  */
@media only screen and (min-width: 1120px){
    .wrapper {
        padding-top: 42px;
    }
    .navigation-block {
        display: none;
    }
    .title-block__hidden-links {
        display: flex;
        align-items: center;
    }
    .title-block__repair-btn {
        padding: 0 32px 0 8px;
    }
    .title-block__checkstatus-btn {
        padding: 0 7px 0 9px;
    }
    .title-block {
        display: flex;
        justify-content: space-between;
    }

    .apper-side {
        padding: 0 25px 0 34px;
    }
    .links-block__list {
        padding: 8px 0 0 0;
        display: flex;
        flex-wrap: wrap;
    }
    .bottom-side {
        padding: 0;
    }
    .content {
        justify-content: space-evenly;
    }
    .content__article {
        width: 43.75%;
    }
    .content__media-element {
        padding-left: 4px;
        border-radius: 6px;
        width: 47.433%;
    }
    .content__read-more-btn {
        display: none;
    }
}

