
html {
    list-style: none;
    box-sizing: border-box;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TT Lakes"),
        /* Если не получилось, загрузит woff */
        url("/font/TTLakes-Medium.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
        url("/font/TTLakes-Medium.ttf") format("ttf");
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: normal;
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TT Lakes"),
        /* Если не получилось, загрузит woff */
        url("/font/TTLakes-Regular.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
        url("/font/TTLakes-Regular.ttf") format("ttf");
}
@font-face {
    font-family: 'TT Lakes';
    font-weight: bold;
    font-style: normal;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TT Lakes"),
        /* Если не получилось, загрузит woff */
        url("/font/TTLakes-Bold.woff") format("woff"),
        /* Если браузер не поддерживает woff, загрузит ttf */
        url("/font/TTLakes-Bold.ttf") format("ttf");
}


/* mobile 320 x 234 */
body {
    min-width: 320px;
    /* max-width: 320px; */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #F8F8F8;
}

.main-block {
    min-width: 0px;
}
.header {
    background: linear-gradient(to right, #F8F8F8, #ffffff);
    height: 80px;
}
h1 {
    white-space: normal;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
    padding: 16px;
}
.swiper {
    position: relative;
    margin-left: 16px;
    padding: 0;
    height: 154px;
    display: flex;
    flex-direction: column;
}

.swiper::after {
    position: absolute;
    right: 0px;
    top: 16px;
    content: "";
    background: linear-gradient(-90deg,#FFFFFF, transparent);
    height: 72px;
    width: 24px;
    z-index: 1;
}
.swiper-slide {
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    min-width: 240px;
    max-width: 240px;
    background: #ffffff;
    margin-top: 16px;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.link-icon::before {
    position: absolute;
    top: 16px;
    right: 16px;
    content: "";
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border: 1px solid #FF3E79;
    border-radius: 50%;
}
.link-icon::after{
    position: absolute;
    top: 31px;
    right: 34px;
    content: '';
    display: block;
    width: 8.5px;
    height: 8.5px;
    border-right: 2px solid #FF3E79;
    border-top: 2px solid #FF3E79;
    border-radius: 20%;
    transform: rotate(45deg);
}
.swiper-pagination {
    position: absolute;
    bottom: 36px !important;
}

.swiper-pagination-bullet-active {
    background-color: #979797;
}
.swiper-pagination-bullet {
    /* background-color: #DDDDDD; */
}

.footer {
    /* background-color: #F8F8F8; */
    height: auto;
}

/* планшет 768 x 322 */
@media only screen and (min-width: 768px){

    
    
}